

.scrollableTab {  
  /* root style for scrollabeTab component */
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  /* overflow-x: scroll; */
  border-radius: 4px;
}

.tabs{
  /* style for tabs group */
  display: flex;
  overflow: scroll;
  width: 100%;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.btnIcons{
  width: 2rem;
  height: 100%;
  /* margin: 0.2rem; */
  /* background-color: red; */
  padding: 0.2rem;
  color: #41bdd9;
  border-radius: 4px;
  transition: all 135ms ease-in-out 0.1s;
}

.btnIcons:hover{
  background-color:#daf6fc;
  cursor: pointer;
}

.hidden {
  /* style to hide element */
  display: none;
}


/* --------------------------------------------------------------------------------- */
/* dragula: drag and drop library (css) */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}